header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--azul-700);
    width: 100%;
    height: 125px;
    padding-top: 10px;
    font-family: 'Poppins', monospace;
}

header img {
    width: 102px;
    height: 100px;
    margin-left: 110px;
}

header h1 {
    font-size: 48px;
    line-height: 40px;
    color: var(--branco);
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    padding: 0 16px 0 16px;
    background-color: var(--azul-100);
    border-radius: 50px;
    box-shadow: 0px 1.5px 4px rgb(0, 0, 0, 0.6); 
    margin-left: 200px;

}

.barra-de-pesquisa > img:hover {
    cursor: pointer;
}

.barra-de-pesquisa > input {
    display: flex;
    align-items: center;
    background-color: var(--azul-100);
    width: 850px;
    height: 55px;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 16px;
    font-family: 'Poppins', monospace;
}

header .barra-de-pesquisa > input::placeholder  {
    color: var(--azul-400);
    font-family: 'Poppins', monospace;
}

header .barra-de-pesquisa img {
    width: 24px;
    height: 24px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--azul-100);
    gap: 55px;
    margin-top: 10px;
}

nav p {
    font-family: 'Inter';
    font-size: 20px;
    color: var(--azul-400);
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
    height: 188px;
    color: var(--azul-600);
    font-family: 'Poppins', monospace;
}

#section1 h1 {
    font-weight: bold;
    font-size: 48px;
    width: 100%;
    height: 72px;
}

#section1 h3 {
    font-weight: 500;
    font-size: 28px;
    height: 42px;
}

select {
    background-color: var(--azul-500);
    color: var(--azul-100);
    font-size: 26px;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 38px;
    margin-left: auto;
    padding-left: 6px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 140px 0 0 93px;
}

#section2 {
    display: flex;
    flex-wrap: wrap;
    width: 1281px;
    height: 1041px;
    margin-left: 84px;
    gap: 30px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-livros {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.25);
    width: 290px;
    height: 475px;
    background-color: var(--branco);
    padding-bottom: 10px;
}

.card-livros img {
    width: 218px;
    height: 326px;
    margin-top: 42.5px;
}


.card-livros > h3 {
    font-weight: 500;
    font-size: 22px;
    font-family: 'Poppins', monospace;
    color: var(--azul-500);
    margin-top: 5px;
    height: 27.5px;
}

.card-livros > h4 {
    font-weight: 500;
    font-size: 17px;
    font-family: 'Poppins', monospace;
    color: var(--azul-400);
    height: 22.5px;
}

.card-livros > h5 {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Inter', serif;
    color: var(--azul-300);
    height: 17px;
}

.card-livros button {
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: var(--azul-500);
    font-family: 'Poppins', monospace;
    font-size: 10px;
    font-weight: normal;
    color: var(--branco);
    width: 141px;
    height: 25px;
    margin-top: 5px;
}

button, img {
    cursor: pointer;
}